html {}

body {
    font-family: 'sans-serif';
    font-weight: 400;
    font-size: 10pt;
}


#display {
    border-radius: 5px;
    border: 1px solid black;
    height: 5em;
    padding: 15px;
    padding-top:10px;
    margin:auto;
    margin-bottom: 8px;
    text-align:right;
    background-color: #d4edd0;
    background: -webkit-linear-gradient(top left, #d4edd0, #c5f0bf);
    background: -moz-linear-gradient(left top, #d4edd0, #b2f0a9);
    font-size: 13pt;
}

button {
    font-size:1em;
    border: 1px solid black;
    background: #ddd;
    background: -webkit-linear-gradient(left top, #dddddd, #c5c0c0);
    background: -moz-linear-gradient(left top, #dddddd, #c5c0c0);
/*    margin:2px;*/
    border-radius: 5%;

    width: 24.35%;
    height: 6em;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: #8d8d8d;
    box-shadow: 3px 3px 3px 0px #656363 inset;
    border: none;
}

#button-0  {
    width: 74.5%;
}


/*
.hexagon {
	width: 24.4%;
	height: 65px;
	background: red;
	position: relative;
    
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 100%;
	height: 0;
	border-left: solid transparent;
	border-right: solid transparent;
	border-bottom: solid red;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
    
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-top: 25px solid red;
}
*/

