body {
    font-family: 'sans-serif';
    font-weight: 400;
    font-size: 100%;

}

#calculator{
	background-color: #d06a61;
	border: 1% solid black;
	border-radius: 2%;
}
#display, #display2{
	height:50%;
	width: 98%;
}

#big-display {
	/*margin-left: 2%;
	margin-right: 2%;*/
    border-radius: 2%;
    border: .2% solid black;
    height: 15%;
    padding: 1%;
    padding-top:1%;
    margin:auto;
    margin-bottom: .67%;
    text-align:right;
    background-color: skyblue;
    background: -webkit-linear-gradient(top left, #8ee88c, #6ac975);
    background: -moz-linear-gradient(left top, #8ee88c, #6ac975);
    font-size: 110%;
}

button {
    font-size: 105%;
    border: .25% solid black;
    background: -webkit-linear-gradient(left top, #2ecefc, #24afcc);
    background: -moz-linear-gradient(left top, #2ecefc, #24afcc);
    margin: .25%;
    border-radius: 5%;

    width: 24.2%;
    height: 12.5%;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: #8d8d8d;
    box-shadow: 1% 1% 1% 0% #656363 inset;
    border: none;
}

#button-0  {
    width: 99.3%;
}


